.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 800px;
    box-shadow: 0, 0 ,20px, rgba(0, 0, 0, 0.15);
   }
 .styled-table thead tr {
    background-color: #7be6d0;
    color: #1a0e0e;
    text-align: left;
  }
  

 .styled-table th,
 .styled-table td {
   padding: 12px 15px;
 }
 .styled-table tbody tr {
    border-bottom: 1px solid I#dddddd;
  }

 .styled-table tbody tr:nth-of-type(even) {
    background-color:#f3f3f3; 
   }
 .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
   }


 .btn{
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

 .btn-edit {
   background-color: O#008cba;
   color: rgb(29, 26, 26);
 }


 .btn-delete {
    background-color: O#f44336;
    color: rgb(29, 26, 26);
   }

 .btn-view {
    background-color:#bdacac;
    color: rgb(29, 26, 26);
                         
   }
 .btn-contact {
    background-color: #9c415e;
    margin-bottom: 10px;
   }
.header__center input{
  height: 19px;
}